<section class=" flex lg:py-1 sm:py-36 bg-slate-100">
  <div class="bg-scroll bg-cover w-full  ">
    <div class=" h-96 mt-52 bg-cover  bg-no-repeat "
      style="background-image: url('/assets/images/dashboardBGImage.jpg');">
    </div>
    <div class="" style="margin-top: -150px;">
      <div class="grid md:grid-cols-3 gap-10 justify-between container">
        <!-- User Profile -->
        <div class=" bg-white col-span-2  rounded-xl ">
          <div class=" max-w-4xl pt-5 relative flex gap-4">
            <!-- User profile photo -->
            <div>
              <img [src]="photoUrl" referrerpolicy="no-referrer" class=" w-64 ml-8 object-cover  rounded-full"
                alt="User Profile Photo" onerror="this.src='./assets/images/UserAltImage.jpg'" />
              <div class="mt-4 ml-8 w-64">
                <hr class="">
                <div class="flex gap-2 justify-left mt-3">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                    <path fill-rule="evenodd"
                      d="M9.69 18.933l.003.001C9.89 19.02 10 19 10 19s.11.02.308-.066l.002-.001.006-.003.018-.008a5.741 5.741 0 00.281-.14c.186-.096.446-.24.757-.433.62-.384 1.445-.966 2.274-1.765C15.302 14.988 17 12.493 17 9A7 7 0 103 9c0 3.492 1.698 5.988 3.355 7.584a13.731 13.731 0 002.273 1.765 11.842 11.842 0 00.976.544l.062.029.018.008.006.003zM10 11.25a2.25 2.25 0 100-4.5 2.25 2.25 0 000 4.5z"
                      clip-rule="evenodd" />
                  </svg>
                  <a href="" class="hover:text-emerald-500 transition-all duration-500">{{state}} {{country}}</a>
                </div>
                <div class="flex gap-2 justify-left mt-6">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                    <path fill-rule="evenodd"
                      d="M5.75 2a.75.75 0 01.75.75V4h7V2.75a.75.75 0 011.5 0V4h.25A2.75 2.75 0 0118 6.75v8.5A2.75 2.75 0 0115.25 18H4.75A2.75 2.75 0 012 15.25v-8.5A2.75 2.75 0 014.75 4H5V2.75A.75.75 0 015.75 2zm-1 5.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25v-6.5c0-.69-.56-1.25-1.25-1.25H4.75z"
                      clip-rule="evenodd" />
                  </svg>
                  <a href="" class="hover:text-emerald-500 transition-all duration-500"> Joined
                    {{showDate(createdDate)}}</a>
                </div>
              </div>
            </div>
            <!-- User profile details -->
            <div class="flex-auto  p-5">
              <div class="mr-32">
                <div class="mb-12">
                  <h1 class="text-emerald-600 font-semibold text-2xl  mb-2">{{firstName}}{{lastName}}</h1>
                  <p class="text-slate-600 text-xl mb-4">{{headLine}}</p>
                  <p class="text-slate-600 text-xl mb-4"><fl-rating [value]="4.5" /></p>
                  <!-- User summary details -->
                </div>
              </div>
              <div class=" bg-slate-100 p-3 rounded-xl">
                <p class="text-slate-600 text-lg font-light mb-4 ">
                  {{summary}}

                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row-span-2 mt-16">
          <div class="grid grid-row-4  p-5 gap-10">
            <div class="bg-white rounded-xl  h-96">
              <div class=" p-5 text-center">
                <h1 class="text-emerald-600 font-semibold text-2xl ">Verifications</h1>
              </div>
              <div>
                <hr>
                <div class="flex gap-2 justify-left mt-3 p-2">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                  </svg>
                  <a class="hover:text-emerald-500 transition-all duration-500">Email Verified</a>
                </div>

              </div>
            </div>
            <div class="bg-white rounded-xl h-96">
              <div class=" p-5 text-center">
                <h1 class="text-emerald-600 font-semibold text-2xl ">Skills</h1>
              </div>
              <hr>
              <div class=" flex-wrap flex  mt-4 justify-center ">
                <div class="w-2/5 flex-none p-2" *ngFor="let skill of skills">
                  <div class="text-white text-center bg-emerald-600    m-2 px-4 py-2 ">{{skill.skillName}} </div>
                </div>
              </div>
            </div>
            <div class="bg-white rounded-xl h-96">
              <div class=" p-5 text-center">
                <h1 class="text-emerald-600 font-semibold text-2xl ">Languages</h1>
              </div>
              <hr>
              <div class=" flex-wrap flex  mt-4 justify-center ">
                <div class="w-2/5 flex-none p-2" *ngFor="let language of languages">
                  <div class="text-white text-center bg-emerald-600    m-2 px-4 py-2 ">{{language.languageName}} </div>
                </div>
              </div>

            </div>
            <div class="bg-white rounded-xl h-96">

            </div>
          </div>
        </div>
        <!--  User Ratings -->
        <div class=" bg-white col-span-2  max-h-max rounded-xl">
          <div class=" max-w-4xl py-3 relative gap-4 ">
            <div class="mb-12">
              <h1 class="text-emerald-600 font-semibold text-2xl  mb-2 ml-6">Reviews</h1>
              <hr>
            </div>
            <div class="flex-auto p-2 " *ngFor="let rating of ratings">
              <div class="mr-32 p-3">
                <div>
                  <p class="text-slate-600 text-xl mb-4"><fl-rating [value]="rating.rating" /></p>
                  <a class="hover:text-emerald-500 transition-all duration-500" href=""> Project ID :
                    {{rating.projectId}}</a>
                </div>
              </div>
              <div class=" p-3 text-wrap rounded-xl">
                <p class="text-slate-600 text-lg font-light mb-4 ">
                  {{rating.ratingDescription}}
                </p>
                <hr>
              </div>
            </div>

          </div>
        </div>

      </div> ​
    </div>
  </div>
</section>