<section class="bg-emerald-50 min-h-screen flex">
  <div class="w-full pt-48 relative">
    <img src="../../assets/shape/shape-8.png"
      class="hidden lg:block absolute left-0 ml-32 animate-twSpin animate-infinite animate-duration-[100ms]"
      alt="shape.png" />
    <div class="absolute left-0 bottom-0">
      <img class="w-[70%] 2xl:w-full" src="../../assets/shape/shape-9.png" alt="">
    </div>
    <div class="absolute bottom-20 left-16 2xl:bottom-32 2xl:left-28 border-green-500">
      <img class="w-[70%] 2xl:w-full" src="../../assets/shape/shape-10.png" alt="">
      <div class="w-[70%] absolute top-0 left-0 2xl:w-full h-full flex justify-center items-center">
        <svg (click)="this.canShowVideo=true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke-width="1.5" stroke="currentColor" class="w-10 h-10 text-orange-400 cursor-pointer">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z" />
        </svg>
      </div>
    </div>

    <div class="container pt-12 flex flex-wrap lg:flex-nowrap">
      <div class="my-auto max-w-md">
        <div class="mb-12">
          <h2 class="text-4xl font-semibold text-slate-800 mb-12">
            Start your <span class="text-emerald-600 relative">favourite job.
              <img alt="shape-4.webp" class="absolute -bottom-6 right-0" src="../../assets/shape/shape-4.webp">
            </span>
          </h2>
          <p class="text-slate-600 text-xl font-light mb-6">
            Search jobs over different categories, bid on the projects which best suits your talent.
          </p>
          <fl-button name="Work as a freelancer" size="L" shade="D" animation="C" [routerLink]="['project-list/']" />
        </div>
      </div>
      <div class="w-full z-20 relative">
        <img class="pl-2 lg:pt-12 w-[70%] lg:w-full ml-auto" src="../../assets/images/model.png" alt="" />
        <div class="hidden sm:flex absolute left-20 top-0 lg:top-20 mr-0 xl:mr-20 2xl:mr-32">
          <div>
            <div class="ml-4 w-36 h-36 bg-emerald-600 rounded-full flex flex-wrap justify-center items-center">
              <div>
                <div class="flex justify-center">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-8 h-8 text-white">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
                  </svg>
                </div>
                <p class="text-center text-3xl font-bold text-white">
                  {{projectLength}} +
                </p>
                <p class="text-center text-white opacity-70">
                  Posted Projects
                </p>
              </div>
            </div>
            <img class="" src="../../assets/shape/shape-6.png" alt="">
          </div>
          <div>
            <img class="animate-leftRight" src="../../assets/shape/shape-5.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
