<section class="lg:py-52 sm:py-36 sm:px-2 md:px-5 py-36 bg-slate-100">
  <div class="w-full lg:container">
    <div
      class="bg-emerald-500 items-center border rounded-xl shadow-md hover:bg-emerald-400 transition duration-300 ease-in-out">
      <div class="ml-3 text-white py-2" *ngFor="let item of data">
        <div class="grid grid-flow-col gap-1">
          <div>
            <h2 class="text-3xl font-medium ">{{item.projectName}}</h2>
          </div>
          <div class="flex gap-2 justify-end pr-2">
            <div>
              <ng-container *ngIf="projectDaysLeft>0;else bidClosed">
                <p class="text-xl font-medium">Bidding closes in <span> {{projectDaysLeft}} days!</span></p>
              </ng-container>
              <ng-template #bidClosed>
                <p class="text-xl font-medium">Bidding Closed !</p>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="m-2 sm:grid sm:grid-row-4 sm:grid-cols-3 sm:grid-flow-col gap-1">
      <div class="col-span-2 row-span-4">
        <div class="bg-slate-50 container mb-3 col-span-3 items-center rounded-lg border shadow-md">
          <div class="relative my-2 grid grid-rows-3-4 items-center gap-2 ">
            <div *ngFor="let item of data">
              <p class="my-2">Budget :<span class="text-xl text-emerald-500"> ₹
                  {{item.minPrice}}-{{item.maxPrice}}</span></p>
              <hr />
              <p class="indent-8 text-justify w-72 sm:w-full my-2">
                {{item.projectDescription}}
              </p>
              <hr />
              <div class=" flex text-emerald-500 gap-3">
                <div class="mt-2 mr-2" *ngFor="let projectSkill of item.skills">
                  <p>{{projectSkill.skillName}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-container *ngIf="data && data[0]?.status === 'POSTED'; else cantBid">
          <div class="bg-slate-50 rounded-lg border shadow-md">
            <div class="m-2 grid grid-flow-row gap-1">
              <form [formGroup]="insertBid" (ngSubmit)="collectBid()">
                <div class="p-2 bg-emerald-400 rounded-lg mb-2">
                  <div class="grid-flow-row text-white text-lg">
                    <h2>Your bid for this job</h2>
                  </div>
                </div>
                <div class="grid grid-flow-col gap-3">
                  <div>
                    <input
                      class="block placeholder:text-slate-500 w-full m:w-2/3 border border-green-300 rounded py-4 px-4 leading-tight focus:outline-none focus:bg-white focus:border-green-500 placeholder-black"
                      id="amount" formControlName="amount" type="text" placeholder="Amount" />
                  </div>
                  <div class="grid-flow-row">
                    <input
                      class="block placeholder:text-slate-500 w-full m:w-2/3 border border-green-300 rounded py-4 px-4 leading-tight focus:outline-none focus:bg-white focus:border-green-500 placeholder-black"
                      id="deliveryDays" formControlName="deliveryDays" type="text" placeholder="Delivery Days" />
                  </div>
                </div>
                <div class="my-2">
                  <div class="grid-flow-row">
                    <textarea
                      class="appearance-none placeholder:text-slate-500 block w-full m:w-2/3 border border-green-300 rounded py-4 px-4 mb-5 leading-tight focus:outline-none focus:bg-white focus:border-green-500 placeholder-black h-32"
                      id="description" formControlName="description" type="text"
                      placeholder="Enter Project Description"></textarea>
                  </div>
                </div>
                <div class="my-2 grid justify-items-center {{isRejected?'flex':'hidden'}}">
                  <p class="text-red-700">Oops! your bid has been rejected.</p>
                </div>
                <div class="my-2 grid justify-items-center {{isRejected||projectDaysLeft<0?'hidden':'flex'}}">
                  <div class="">
                    <fl-button type="ngSubmit" name="{{btnText}}" size="M" shade="W" animation="F" />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </ng-container>
        <ng-template #cantBid>
          <div class="bg-white rounded text-center p-2 shadow-lg ">
            <p class="text-xl mt-10">Bidding  Closed !</p>
    <p><a class="text-emerald-500 cursor-pointer mt-10 " routerLink="/home/project-list">Browse projects and start bidding now
        to get a job.</a></p>
          </div>
        </ng-template>

      </div>


      <div class="bg-slate-50 rounded-lg border shadow-md">
        <div class="m-2 grid grid-flow-row gap-1">
          <div class="bg-emerald-400 rounded-lg mb-2 ">
            <h2 class="p-2 text-white text-lg">About the client</h2>
          </div>
          <div class="grid sm:grid-flow-row grid-flow-row gap-4 p-1" *ngFor="let item of locationData.response">
            <div class="hover:text-emerald-500">
              <a class="ml-1 text-xl cursor-pointer" [routerLink]="['/home/users/',item.userId]">{{item.firstName}}
                {{item.lastName}}</a>
            </div>
            <div>
              <fl-rating [value]=countAvgRating(item.ratings) />
            </div>
            <div class="flex gap-1 hover:text-emerald-500">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd"
                  d="M9.69 18.933l.003.001C9.89 19.02 10 19 10 19s.11.02.308-.066l.002-.001.006-.003.018-.008a5.741 5.741 0 00.281-.14c.186-.096.446-.24.757-.433.62-.384 1.445-.966 2.274-1.765C15.302 14.988 17 12.493 17 9A7 7 0 103 9c0 3.492 1.698 5.988 3.355 7.584a13.731 13.731 0 002.273 1.765 11.842 11.842 0 00.976.544l.062.029.018.008.006.003zM10 11.25a2.25 2.25 0 100-4.5 2.25 2.25 0 000 4.5z"
                  clip-rule="evenodd" />
              </svg>
              {{item.stateName}}, {{item.countryName}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
