<section class="container">
  <div class=" bg-white col-span-3 rounded-md">
    <div class="p-5 flex justify-between font-semibold text-xl">
      <p class="font-semibold text-emerald-500">Bids on this project.</p>
    </div>
    <hr>
    <ng-container *ngIf="bids && bids.length > 0;else noBids">

      <div *ngFor="let bid of bids">
        <div class="flex h-46 ">
          <div class="p-3 w-40 h-40">
            <a [routerLink]="['/users/',bid.freelancerDetails.userId]">
            <img [src]="bid.freelancerDetails.photoUrl" referrerpolicy="no-referrer" class="rounded-md w-full" alt=""
              onerror="this.src='./assets/images/UserAltImage.jpg'" /></a>
          </div>
          <div class="p-2 w-auto flex-auto">
            <div class="flex gap-10">
              <div class="flex gap-1">
                <p class="text-emerald-500 font-semibold ">₹ {{bid.amount}}</p>
                <p>in</p>
                <p class="text-emerald-500 font-semibold ">{{bid.deliveryDays}}</p>
                <p>days</p>
              </div>
              <div>
                <p class="text-emerald-500 font-semibold"[ngClass]="bid.status === 'REJECTED' ? 'bg-red-600 text-white rounded-xl px-2' : 'bg-emerald-700 text-white rounded-xl px-2'">{{bid.status}}</p>
              </div>
            </div>
            <div class="flex justify-left">
              <p class="text-slate-600 text-md"><fl-rating [value]="4.0" /></p>
            </div>
            <div class="max-w-xl h-12">
              <p class=""> {{bid.description}}</p>
            </div>
            <div class="flex text-emerald-500 gap-3 my-2">
              <div>
                <a [routerLink]="['/users/',bid.freelancerDetails.userId]">View freelancer details</a>
              </div>
            </div>
          </div>
          <div class="w-40 p-5 ">
            <div>
              <button
                class="{{bid.status!='PENDING'?'hidden':'block'}} flex-shrink-0 bg-teal-500 container mt-10 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white p-1 rounded"
                type="button" (click)="approveBid(bid.bidId)">
                Approve Bid
              </button>
            </div>
          </div>
        </div>
        <div>
          <hr>
        </div>
      </div>
    </ng-container>
    <ng-template #noBids>
      <div class="grid justify-items-center py-20">
        <img src="../../../../../../assets/images/auction.svg" class="h-24" alt="No Bids">
        <p class="text-xl mt-5">You don't have any Bids.</p>
      </div>
    </ng-template>
  </div>
</section>
