<ng-container *ngIf="bids && bids.length > 0;else noBids">
  <div class="grid grid-cols-4 group mt-2 bg-white border rounded-lg" *ngFor="let bid of bids | paginate: { itemsPerPage: 5, currentPage: p }">
    <div class="col-span-3 group-hover:bg-slate-200 rounded-sm">
      <div class="grid grid-rows-3 items-center ml-5">
        <div class="inline-block text-emerald-500  text-l">
          <h2><b>{{bid.status}}</b></h2>
        </div>
        <div class="flex gap-2 items-center ">
          <p class="">Bid amount</p>
          <p>{{bid.amount}}</p>
          <p>INR</p>
        </div>
        <div class="">
          <p class="text-clip overflow-hidden h-12">{{bid.description}}
          </p>
        </div>

        <div class="flex text-emerald-500 gap-3 my-2">
          <div>
            <a [routerLink]="['/home/project-details/',bid.projectId]">View project details</a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="grid min-h-full items-center group-hover:bg-slate-200 justify-center">
        <div class="place-self-center">
          <a class="hidden group-hover:block group-hover:transition-all group-hover:duration-500 border bg-emerald-600 hover:bg-emerald-50 transition-all duration-1000 text-emerald-50 border-emerald-600 hover:text-slate-700 px-5 py-2 rounded-lg font-medium text-md"
            [routerLink]="['/home/project-details/',bid.projectId]">Edit Bid</a>
        </div>
      </div>
    </div>
  </div>
  <div class="grid justify-items-center mt-2">
    <pagination-controls class="custom-pagination" (pageChange)="p = $event"></pagination-controls>
  </div>
</ng-container>
<ng-template #noBids>
  <div class="grid justify-items-center py-20">
    <img src="../../../../../../assets/images/auction.svg" class="h-24" alt="No Bids">
    <p class="text-xl mt-5">You don't have any open bids.</p>
    <p><a class="text-emerald-500 cursor-pointer" routerLink="/home/project-list">Browse projects and start bidding now to get a job.</a></p>
  </div>
</ng-template>
